.footer{
    display: block;
    font-size: 16px;
    color: white;
    background-color: rgb(60, 60, 60);
    background: rgb(60, 60, 60);
    height: 50px;
    width: 100%;
    line-height: 50px;
    bottom: 0;
    left: 0;
}

.footerText{
    font-size: 16px;
    margin-left: 20px;
}

.terms{
    font-size: 16px;
    float:right;
}